<!DOCTYPE html>
<html>
<head>
  <title>MyTest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p>
  You are loggied in as: <%= current_user.login if current_user != nil %>
</p>
<p>
  <%=link_to "My profile", profile_index_path%>
  <%=link_to "Sign out", destroy_user_session_path, :method => :delete  %>
  <%=link_to "All users", users_path %>
</p>

<%= yield %>

</body>
</html>
